In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error, r2_score

In [2]:
df=pd.read_csv("Taskk_2.csv")

In [3]:
X= df.drop('fare_amount', axis=1)
y= df['fare_amount']

In [4]:
df.head()

,fare_amount,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,hour,day,month,weekday,...,is_rush_hour,Car Condition_Excellent,Car Condition_Good,Car Condition_Very Good,Weather_rainy,Weather_stormy,Weather_sunny,Weather_windy,Traffic Condition_Dense Traffic,Traffic Condition_Flow Traffic
0,16.9,-1.291824,0.710546,-1.291182,0.711780,1,16,5,1,1,...,1,True,False,False,False,False,False,False,False,True
1,5.7,-1.291242,0.711418,-1.291391,0.711231,2,0,18,8,3,...,0,False,False,False,False,True,False,False,False,False
2,7.7,-1.291319,0.710927,-1.291396,0.711363,1,4,21,4,5,...,0,False,False,True,False,True,False,False,False,True
3,5.3,-1.290987,0.711536,-1.290787,0.711811,1,7,9,3,1,...,1,False,False,False,False,True,False,False,False,False
4,12.1,-1.291560,0.710901,-1.291071,0.711365,1,9,6,1,3,...,1,True,False,False,False,False,True,False,False,False

In [5]:
df.info()
df.describe()
df.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 397001 entries, 0 to 397000
Data columns (total 34 columns):
 #   Column                           Non-Null Count   Dtype
---  ------                           --------------   -----
 0   fare_amount                      397001 non-null  float64
 1   pickup_longitude                 397001 non-null  float64
 2   pickup_latitude                  397001 non-null  float64
 3   dropoff_longitude                397001 non-null  float64
 4   dropoff_latitude                 397001 non-null  float64
 5   passenger_count                  397001 non-null  int64
 6   hour                             397001 non-null  int64
 7   day                              397001 non-null  int64
 8   month                            397001 non-null  int64
 9   weekday                          397001 non-null  int64
 10  year                             397001 non-null  int64
 11  jfk_dist                         397001 non-null  float64
 12  ewr_dist                         397001 non-null  float64
 13  lga_dist                         397001 non-null  float64
 14  sol_dist                         397001 non-null  float64
 15  nyc_dist                         397001 non-null  float64
 16  distance                         397001 non-null  float64
 17  bearing                          397001 non-null  float64
 18  pickup_hour                      397001 non-null  int64
 19  pickup_day                       397001 non-null  int64
 20  pickup_weekday                   397001 non-null  int64
 21  pickup_month                     397001 non-null  int64
 22  pickup_year                      397001 non-null  int64
 23  is_weekend                       397001 non-null  int64
 24  is_rush_hour                     397001 non-null  int64
 25  Car Condition_Excellent          397001 non-null  bool
 26  Car Condition_Good               397001 non-null  bool
 27  Car Condition_Very Good          397001 non-null  bool
 28  Weather_rainy                    397001 non-null  bool
 29  Weather_stormy                   397001 non-null  bool
 30  Weather_sunny                    397001 non-null  bool
 31  Weather_windy                    397001 non-null  bool
 32  Traffic Condition_Dense Traffic  397001 non-null  bool
 33  Traffic Condition_Flow Traffic   397001 non-null  bool
dtypes: bool(9), float64(12), int64(13)
memory usage: 79.1 MB

fare_amount                        0
pickup_longitude                   0
pickup_latitude                    0
dropoff_longitude                  0
dropoff_latitude                   0
passenger_count                    0
hour                               0
day                                0
month                              0
weekday                            0
year                               0
jfk_dist                           0
ewr_dist                           0
lga_dist                           0
sol_dist                           0
nyc_dist                           0
distance                           0
bearing                            0
pickup_hour                        0
pickup_day                         0
pickup_weekday                     0
pickup_month                       0
pickup_year                        0
is_weekend                         0
is_rush_hour                       0
Car Condition_Excellent            0
Car Condition_Good                 0
Car Condition_Very Good            0
Weather_rainy                      0
Weather_stormy                     0
Weather_sunny                      0
Weather_windy                      0
Traffic Condition_Dense Traffic    0
Traffic Condition_Flow Traffic     0
dtype: int64

In [6]:
df=df.dropna()

In [7]:
df = df.drop(columns=["User ID", "User Name", "Driver Name", "key", "pickup_datetime"], errors='ignore')

In [8]:
numeric_df = df.select_dtypes(include=['number'])

(numeric_df <0).sum()

fare_amount               0
pickup_longitude     396749
pickup_latitude         244
dropoff_longitude    396747
dropoff_latitude        247
passenger_count           0
hour                      0
day                       0
month                     0
weekday                   0
year                      0
jfk_dist                  0
ewr_dist                  0
lga_dist                  0
sol_dist                  0
nyc_dist                  0
distance                  0
bearing              209352
pickup_hour               0
pickup_day                0
pickup_weekday            0
pickup_month              0
pickup_year               0
is_weekend                0
is_rush_hour              0
dtype: int64

In [9]:
 df = df[df["fare_amount"]>0]

In [10]:
X_train= df.drop('fare_amount', axis=1)
y_train= df['fare_amount']

In [11]:
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42)

In [12]:
X_train= df.drop('fare_amount', axis=1)
y_train= df['fare_amount']

In [ ]:
df["distance"].value_counts()

distance
0.000000    14247
0.000111        9
0.000424        9
0.000445        8
0.000222        6
            ...
1.404709        1
0.994184        1
7.859324        1
0.994470        1
1.040272        1
Name: count, Length: 485654, dtype: int64

In [15]:
from sklearn.ensemble import RandomForestRegressor
model = RandomForestRegressor(n_estimators=10, random_state=42)
model.fit(X_train, y_train)

importances = model.feature_importances_

feature_importance_df = pd.DataFrame({
    'feature': X.columns,
    'importance': importances
}).sort_values(by='importance', ascending=False)

print(feature_importance_df.head(10))

              feature  importance
15           distance    0.785794
10           jfk_dist    0.028335
16            bearing    0.023486
12           lga_dist    0.019810
9                year    0.014656
21        pickup_year    0.014057
3    dropoff_latitude    0.011201
2   dropoff_longitude    0.010506
14           nyc_dist    0.010340
0    pickup_longitude    0.010042

In [ ]:
from sklearn.feature_selection import SelectKBest, mutual_info_classif
selector = SelectKBest(score_func=mutual_info_classif, k=5)
X_new = selector.fit_transform(X_encoded, y_encoded)
featureScores = pd.concat([dfcolumns, dfscores], axis=1)
print(featureScores.sort_values(by='Score', ascending=False))

In [20]:
selected_features = [
    'distance', 'jfk_dist', 'bearing', 'lga_dist', 'year',
    'pickup_year', 'dropoff_latitude', 'dropoff_longitude', 'nyc_dist', 'pickup_longitude'
]

X_train = df[selected_features]
y_train = df['fare_amount']

X_test = df[selected_features]
y_test = df['fare_amount']

In [22]:
import xgboost as xgb
model = xgb.XGBRegressor(n_estimators=100, learning_rate=0.1, max_depth=5, n_jobs=-1)
model.fit(X_train, y_train)

y_pred = model.predict(X_test)

from sklearn.metrics import mean_squared_error, r2_score
import numpy as np

rmse = np.sqrt(mean_squared_error(y_test, y_pred))
r2 = r2_score(y_test, y_pred)

print(f" RMSE: {rmse:.4f}")
print(f"RÂ²: {r2:.4f}")

 RMSE: 2.5421
RÂ²: 0.8526

In [25]:

model = RandomForestRegressor(n_estimators=10, random_state=42)
model.fit(X_train, y_train)
y_pred = model.predict(X_test)
rmse = np.sqrt(mean_squared_error(y_test, y_pred))
r2 = r2_score(y_test, y_pred)

print(f" RMSE: {rmse:.4f}")
print(f"RÂ²: {r2:.4f}")

 RMSE: 1.1401
RÂ²: 0.9704